@font-face {
    font-family: 'Montserrat';
    src: url('./font.ttf') format('ttf'), url('./font2.ttf') format('ttf');
}


*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body, html {
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    color: var(--dark);
    background-color: var(--bg);
    font-family: 'Montserrat', system-ui, sans-serif;
}

:root {
    /* Dark text on bg or bg-alt only 
    User interface accent acceptable foreground on either bg */
    --bg: #e6f0f4;
    --bg-alt: #f9e3a7;
    --shadow: #a38d76;
    --decorative: #f78394;
    --accent: #37818b;
    --dark: #302a22;
}

h1, h2 {
    text-align: center;
}

ul {
    appearance: none;
    list-style-type: none;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 20px 50px;
}

.nav {
    display: flex;
    gap: 10px;
}

button {
    appearance: none;
    font-family: inherit;
    box-sizing: initial;
    max-width: fit-content;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid var(--accent);
    padding: .5rem 3rem;
    background-color: var(--bg-alt);
}

button:hover {
    transform: translate(.5px, -1px);
    box-shadow: 3px 5px 5px var(--shadow);
    background-color: var(--bg-alt);
}

button:active {
    transform: translate(-1px, 2px);
    box-shadow: none;
}

button:focus-visible,
input:focus-visible,
textarea:focus-visible {
    outline: max(3px, 0.15em) solid var(--accent);
    outline-offset: max(3px, 0.15em);
}

#container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 80%;
    margin: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border: 2px solid var(--decorative);
    border-radius: 10px;
}

img {
    max-width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
    gap: 10px;
}

.input-wrapper {
    display: block;
}

input,
textarea {
    appearance: none;
    font-size: 1rem;
    border-radius: 10px;
    border: 2px solid var(--accent);
    padding: .5rem .5rem;
    margin: max(8px, 0.5em) 0;
}

.quote {
    max-width: 600px;
    padding: max(1.5rem, 10px);
    background-color: var(--bg-alt);
    border: 2px solid var(--dark);
    border-radius: 10px;
}

.quote-text {
    font-size: 1.2rem;
}

.quote-attribution {
    font-style: italic;
    text-align: right;
}

.hours, 
.menu-section,
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: center;
    max-width: 400px;
    padding: 20px 40px;
    background-color: white;
    border: 2px solid var(--decorative);
    border-radius: 10px;
}

.hours-list {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
}

.menu-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.item-header {
    display: flex;
    justify-content: space-between;
}